; {{ ansible_managed }}
[{{ item.name }}]

; include default pool configuration
include = /etc/opt/remi/{{ php_version }}/php-fpm.d/pool.default

{% if item.config is defined %}
{% for (key,value) in item.config.items() | list | sort %}
{{ key }} = {{ value }}
{% endfor %}
{% endif %}
